<nav class="sidebar" [ngClass]="{ 'closed': !isOpen }">
  <div class="menu">
    <div class="menu-setup">
      <div class="menu-item">
        <div class="icon">
          <i class="fas fa-cat"></i>
        </div>
        <span>menu 1</span>
      </div>
      <div class="menu-item">
        <div class="icon">
          <i class="fas fa-cocktail"></i>
        </div>
        <span>menu 2</span>
      </div>
      <div class="menu-item">
        <div class="icon">
          <i class="fas fa-cookie-bite"></i>
        </div>
        <span>menu 3</span>
      </div>
      <div class="menu-item">
        <div class="icon">
          <i class="fas fa-crow"></i>
        </div>
        <span>menu 4</span>
      </div>
      <div class="menu-item">
        <div class="icon">
          <i class="fas fa-crown"></i>
        </div>
        <span>menu 5</span>
      </div>
      <div class="menu-item">
        <div class="icon">
          <i class="fas fa-dragon"></i>
        </div>
        <span>menu 6</span>
      </div>
    </div>
  </div>
</nav>

<header class="header">
  <div class="header-content">
    <div (click)="toggleSideNav()" class="header-nav-icon" [ngClass]="{'rotate-icon': !isOpen}">
      <i class="fas fa-angle-double-left"></i>
    </div>
    <div>Header</div>
  </div>
</header>

<div class="main-content">
  Main content
  <!-- TEST DATA -->
  <app-test-content></app-test-content>
</div>