$sidebar-width-open: 14rem;
$sidebar-width-closed: 4rem;

$header-height: 3rem;

$nav-sidebar-color: #526475;
$nav-header-color: #628bb1;

// Sidebar
.sidebar {
  background-color: $nav-sidebar-color;
  color: white;

  z-index: 10;
  height: 100vh;
  position: fixed;
  transition: width 0.3s ease;
  width: $sidebar-width-open;
}

.menu {
  height: 100%;
  padding: 1rem 0 0 1rem;
  overflow: hidden;
}

.menu-item {
  display: flex;

  span {
    padding-left: 0.5rem;
    white-space: nowrap;
  }
}

.sidebar.closed {
  width: $sidebar-width-closed;
}

// Header
.header {
  height: $header-height;
  background-color: $nav-header-color;

  position: fixed;
  z-index: 9;
  top: 0;
  width: 100%;
}

.header-content {
  color: white;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem 0 1rem;
}

.header-nav-icon {
  width: 12rem;
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

.rotate-icon {
  transform: rotate(180deg);
  justify-content: center;
  width: 2rem;
}

// Main content
.main-content {
  margin-left: $sidebar-width-open;
  margin-top: $header-height;
  transition: margin 0.3s ease;
}

.sidebar.closed ~ .main-content {
  margin-left: $sidebar-width-closed;
}
