$sidebar-width-open: 14rem;
$sidebar-width-closed: 4rem;

$header-height: 3rem;

$nav-sidebar-color: #526475;
$nav-header-color: #628bb1;
$nav-hover-bg-color: #74a3cf;

// Sidebar
.sidebar {
  background-color: $nav-sidebar-color;
  color: white;

  z-index: 10;
  height: 100vh;
  position: fixed;
  transition: width 0.3s ease;
  width: $sidebar-width-open;
}

.menu {
  height: 100%;
  overflow: hidden;
}

.menu-item {
  display: flex;

  .icon {
    min-width: 4rem;
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    padding-left: 0.5rem;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu-item:hover {
  cursor: pointer;
  background-color: $nav-hover-bg-color;
}

.sidebar.closed {
  width: $sidebar-width-closed;
}

.sidebar.closed:hover {
  width: $sidebar-width-open;
}

// Header
.header {
  height: $header-height;
  background-color: $nav-header-color;

  position: fixed;
  z-index: 9;
  top: 0;
  width: 100%;
}

.header-content {
  color: white;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem 0 1rem;
}

.header-nav-icon {
  width: 12rem;
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  cursor: pointer;
}

.rotate-icon {
  transform: rotate(180deg);
  justify-content: center;
  width: 2rem;
}

// Main content
.main-content {
  margin-left: $sidebar-width-open;
  margin-top: $header-height;
  transition: margin 0.3s ease;
}

.sidebar.closed ~ .main-content {
  margin-left: $sidebar-width-closed;
}

@media screen and (max-width: 768px) {
  .sidebar.closed {
    width: 0rem;
  }

  .main-content {
    margin-left: 0rem;
  }

  .sidebar.closed ~ .main-content {
    margin-left: 0rem;
  }
}
